<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.campfinder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AccountActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.campfinder.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.UserActivity"
            android:theme="@style/AppTheme">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.epicodus.campfinder.ui.AccountActivity">
        </meta-data>

        </activity>
        <activity
            android:name=".ui.ExistingUserActivity"
            android:theme="@style/AppTheme">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.epicodus.campfinder.ui.ExistingUserActivity">
        </meta-data>

        </activity>

    </application>

</manifest>